.div-btt{
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-btt button{
  width: 100px;
  height: 60px;
  border-radius: 15px;
  font-size: 1.1em; 
  background-color: black;
  color: white;
  cursor:pointer;
}

.div-btt button:hover{
  width: 105px;
  height: 65px;
  font-size: 1.05em;
  transition: 0.2s;
}




