
body{
  background-image: url('./images/img-ufma.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

/*
  =========================================== MAIN ======================================
*/

.App-main{
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  height: 800px;
  margin-top: 20px;
}

/*
 ---------------------------------- GET-DATAS----------------------------
*/
.Calculator{
  justify-content: center;
}


.form-itens{
  display: flex;
  height: 55px;
}

.form-itens input{
  border-radius: 5px;
}

.form-itens:not(:last-child){
  margin-bottom: 10px;
}

.grades{
  display: flex;
  height: 100%;
  width: 100%;
}

/*
 ---------------------------------- SHOW-RESULTS ----------------------------
*/

.show-results{
  margin-top: 50px;
}

/*
  -------------------------------- SUBJECT-LIST -----------------------------
*/


.remove-input{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.remove-input input{
  width: 100%;
}