/*
  =========================================== MAIN ======================================
*/

.App-main{
  height: 800px;
  margin-top: 20px;
}

/*
 ---------------------------------- GET-DATAS----------------------------
*/


.get-datas{
  height: 350px;
  display: flex;
  justify-content: center;
}

.get-datas form{
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  background-color: #D9D9D9;
}

.form-itens{
  display: flex;
  height: 55px;
}

.form-itens input{
  border-radius: 5px;
}

.form-itens:not(:last-child){
  margin-bottom: 10px;
}

.grades{
  display: flex;
  height: 100%;
  width: 100%;
}
