/*
  =========================================== MAIN ======================================
*/

.App-main{
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  height: 800px;
  margin-top: 20px;
}

/*
 ---------------------------------- GET-DATAS----------------------------
*/
.Calculator{
  justify-content: center;
}


.form-itens{
  display: flex;
  height: 55px;
}

.form-itens input{
  border-radius: 5px;
}

.form-itens:not(:last-child){
  margin-bottom: 10px;
}

.grades{
  display: flex;
  height: 100%;
  width: 100%;
}

.div-btt{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*
 ---------------------------------- SHOW-RESULTS ----------------------------
*/

.show-results{
  margin-top: 50px;
}